# Prerequisites
*.d

build
build/python
dist/
release-assets/
rmw-config/
csharp/**/bin/
csharp/**/obj/

.DS_Store
__pycache__/
python/__pycache__/
python/hakoniwa_pdu_endpoint/__pycache__/
python/hakoniwa_pdu_endpoint.egg-info/
python/hakoniwa_pdu_endpoint/hakoniwa_pdu_endpoint/
python/hakoniwa_pdu_endpoint/_c_endpoint_ffi.c
python/hakoniwa_pdu_endpoint/_c_endpoint_ffi.o
python/hakoniwa_pdu_endpoint/_c_endpoint_ffi*.so
python/hakoniwa_pdu_endpoint/_c_endpoint_ffi*.pyd

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# CMake Testing directory
Testing/
