name: ci

on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Dependencies
        run: |
          sudo apt-get update
          echo "deb [trusted=yes] https://hakoniwalab.github.io/apt stable main" \
            | sudo tee /etc/apt/sources.list.d/hakoniwa.list
          sudo apt update
          sudo apt-get install -y g++-12 hakoniwa-core-full libgtest-dev cmake libboost-dev
      - name: Update Compiler Alternatives
        run: |
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-12 12
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure
        run: cmake -S . -B build -DHAKO_PDU_ENDPOINT_BUILD_TESTS=ON

      - name: Build
        run: cmake --build build

      - name: Test
        run: ctest --test-dir build
